services:
  server:
    build:
      context: ../..
      dockerfile: apps/server/Dockerfile
    env_file:
      - ../../apps/server/.env
    environment:
      - CI=true #
      - NODE_ENV=production
    command: node dist/main.js
    ports:
      - "4000:4000"
    restart: always # Tự động khởi chạy lại nếu có lỗi
    depends_on:
      mongo:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks: [app-net]

  web:
    build:
      context: ../..
      dockerfile: apps/web/Dockerfile
    environment:
      - CI=true #
      - NODE_ENV=production
    # Lưu ý: Ở Prod bạn nên dùng lệnh chạy bản build (vd: pnpm start hoặc serve) 
    # Thay vì dùng 'pnpm run dev' như bản cũ của bạn
    command: pnpm run start 
    ports:
      - "3001:3000"
    restart: always #
    depends_on:
      - server
    networks: [app-net]